footer{
    background-color: $color_destaque;
    padding: 40px;
    bottom: 0;
    left: 0;
    width: 100%;
    p{
        color: #fff;
        text-align: center;
        font-family: 'Montserrat Bold';
        font-size: 18px;
    }
}